body {
	margin: 0;
        width: 100%;
        height: 100%;
        position: relative;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #EFEBA1;
}

header {
	/*TODO*/
}

.header_user {
	float: right;
}