<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>10Ants - Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'scripts/10Ants.js' %}"></script>
    <script type="text/javascript">
        // This is a jQuery convention to say that once all the files
        // load, the function Smile.start() should run.
        // This function is defined in the smiles.js

        $(function() {
            10Ants.start();
        });
    </script> -->
</head>
	<body>
		Hello World
	</body>
</html>
