<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>10Ants - Sign Up</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'scripts/10Ants.js' %}"></script>
    <script type="text/javascript">
        // This is a jQuery convention to say that once all the files
        // load, the function Smile.start() should run.
        // This function is defined in the smiles.js

        $(function() {
            10Ants.start();
        });
    </script> -->
</head>
	<body>
		First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
	</body>
</html>
